<script src="../assets/source/datatables/jquery.dataTables.min.js"></script>

<div class="row page-titles">
  <div class="col-lg-12">
  <div class="col-md-7 align-self-center" style="float: left;">
      <h3 class="text-themecolor">Sync Releases</h3>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/Create Release">Releases</a></li>
          <li class="breadcrumb-item"><a routerLink="/Create Release">List Of Releases</a></li>
          <li class="breadcrumb-item active">Sync Releases</li>
      </ol>
  </div>


  
  <div class="col-md-5 align-self-center text-right" style="float: right;">
        <div class="input-group-prepend col-md-3" style="float: right;">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-transform: uppercase;">Create <i class="fa fa-plus"></i></button>
                <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/Create Product Line"><img src="../assets/images/products/cpl-icon.png"/> Product Line</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/Create Product"><img src="../assets/images/products/p-icon.png"/> Products</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/Create Release"><img src="../assets/images/products/r-icon.png"/> Releases</a>
                    </div>
                </div>
            
                <!-- <div class="form-group col-md-6" style="float: right;">
                  <button type="button" class="btn btn-warning" style="text-transform: uppercase;" routerLink="/Sync Releases">Sync</button>
              </div> -->

</div>


</div>
</div>




      


        <div class="col-md-12">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#map" role="tab"><span class="hidden-xs-down">Mapped Releases</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#unmap" role="tab"><span class="hidden-xs-down">UnMapped Releases</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content m-b-30">
                    <div class="tab-pane active" id="map" role="tabpanel">
                        <div class="p-20">
                            <table id="myTable1" class="table table-striped m-t-10">
                                <thead>
                                    <tr> 
                                        
                                        <th>Release Name</th>
                                        <th>Product Name</th>
                                        <th>Status</th>
                                        <th>Release Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of mapped_list;i as index">
                                        <td>{{item.releaseName}}</td>
                                        <td>{{item.productName}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{(item.releaseDateInternal == "null") ? "InActive" :  item.releaseDateInternal }}</td>
                                        <td id={{item.releaseId}} #sync><a class="has-arrow waves-effect waves-dark"  (click)=syncFromAuto(sync.id)><img src="../assets/images/action/sfa.png" title="Sync From Auto"/></a> <a class="has-arrow waves-effect waves-dark" name={{item.fkProductId}} #product (click)=syncFromJira(sync.id,product.name)><img src="../assets/images/action/sfj.png" title="Sync From Jira"/></a></td>
                                    </tr>
                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane p-20" id="unmap" role="tabpanel">
                        <table id="myTable2" class="table table-striped m-t-10">
                            <thead>
                                <tr> 
                                    <th>Release Name</th>
                                    <th>Product Name</th>
                                    <th>Sprint</th>
                                    <th>Release Date</th>
                                    <th>Map</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of unmapped_list">
                                    <td>{{item.releaseName}}</td>
                                    <td>{{item.productName}}</td>
                                    <td>
                                        <div *ngIf=item.productMapped class="styled-select">
                                            <select id={{item.fkProductId}} class={{item.releaseId}} (focus)="getSprints(product.id)" #product >
                                                <option disabled value="-1" style="background-color: #e9ecef;">Select Sprint</option>
                                                <option *ngIf=no_sprints value="0">Create New</option>
                                            <option *ngFor="let item of sprints_list" value={{item.sprintId}} >{{item.sprintName}}</option>
                                            </select>
                                            </div>
                                            <p *ngIf=!item.productMapped style="color: orangered"> Product is not Mapped</p>
                                    </td>
                                    <td>{{(item.releaseDateInternal == "null") ? "InActive" :  item.releaseDateInternal }}</td>
                                    <td id={{item.releaseId}} #release><a *ngIf=item.productMapped class="has-arrow waves-effect waves-dark" (click)="mapWithJira(release.id)"><img src="../assets/images/action/mapping.png"/></a></td>
                                </tr>
                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
  